image: python:3.6

stages:
  - test
  - deploy

.test_template: &test_template
  stage: test
  tags:
    - docker
  before_script:
    - pip --no-cache-dir install -r requirements.txt

.deploy_template: &deploy_template
  stage: deploy
  when: manual
  tags:
    - docker
  before_script:
    - export AWS_DEFAULT_REGION="us-east-1"
    - pip install .
  script:
    - glue-deployer job-destroy -e ${ENV} -a rdl_to_udl
    - glue-deployer job-destroy -e ${ENV} -a udl_to_lrf
    - glue-deployer job-create -e ${ENV} -a rdl_to_udl
    - glue-deployer job-create -e ${ENV} -a udl_to_lrf

lint:
  <<: *test_template
  allow_failure: true
  script:
    - prospector

unit:
  <<: *test_template
  script:
    - python -m unittest discover

deploy to dev:
  <<: *deploy_template
  variables:
    ENV: dev
  environment:
    name: dev
